
:root {
  --primary: #5dcbf4;      
  --secondary: #fcde68;     
  --gray: #404041;
  --border: #bbbdbf;
  
  --background: #ffffff;
  --foreground: #171717;
  --font-en: "Geomanist", Helvetica, sans-serif;
  --font-ar: Helvetica, Arial, sans-serif;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
    --primary: #7dd3fc;   
    --secondary: #fde047;  
    --gray: #737373;       
  }
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: var(--font-en); 
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body[lang="ar"] {
  font-family: var(--font-ar);
  letter-spacing: 0;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}
